<script type="text/javascript">
  $(".page-content").css({"background": "#37BC9B"})
</script>
<div class="search-artist">
  <h1 class="page-heading" align="center">Artistunt</h1>
  <div class="text-center">
    <h3>Search Any Music Artist!</h3>
  </div>

  <div class="login-wrapper">
    <%= form_tag(search_artist_path) do %>
      <div class="form-group has-feedback lg right-feedback no-label">
        <!-- <%#= label_tag :search_artist %><br /> -->
        <%= text_field_tag :search_artist, nil, class: "form-control no-border input-lg rounded solution", placeholder: "Enter name of Music Artist" %>
        <span class="fa fa-envelope form-control-feedback iconposition"></span>
      </div>

      <div class="actions">
        <%= submit_tag "Go", class: "btn btn-warning btn-lg btn-perspective btn-block" %>
      </div>
    <% end %>
  </div>
</div>
